@model TranslationViewModel

<div class="settings-field">
    <label class="field-label" for="@Model.Language">@Model.Language</label>
    <select id="@Model.Language" name="@Model.Language" class="app-control" asp-for="SelectedTranslation"
            asp-items="@(new SelectList(@Model.Translations, "ShortName", "Name"))">
    </select>
</div>
