@model TranslationViewModel

<div>
    <span>@Model.Language:</span>
    <br>
    <select id="@Model.Language" name="@Model.Language" asp-for="SelectedTranslation"
        asp-items="@(new SelectList(@Model.Translations, "ShortName", "Name"))">
    </select>
</div>
